html {
    background: url(/static/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin-top: 50px;
    /*font-family: "Open Sans",serif;*/
    background: transparent;
}

h1 {
    /*font-family: "Abel", Arial, sans-serif;*/
    font-weight: 400;
    font-size: 50px;
}

.margin-form {
    margin-left: 15px;
    margin-right: 15px;
}

/* Override B3 .panel adding a subtly transparent background */


.panel {
    background-color: rgba(255, 255, 255, 0.9);
}