{% extends "base.html" %}
{% block title %}
    Log in to submit your contribution
{% endblock %}
{% block content %}
<div class="row-fluid">
    <form action="/authors" method="POST">
            <div class="control-group span6">
                <label for="first-name">Username:</label>
                <input id="first-name" type="text" class="input-block-level">
            </div>
            <div class="control-group span6">
                <label for="last-name">Password:</label>
                <input id="last-name" type="password" class="input-block-level">
            </div>
            <div class="control-group">
                <button class="btn btn-primary" name="commit" type="submit">Log In</button>
            </div>
    </form>
</div>
{% endblock %}