{% extends "base.html" %}
{% block title %}
    Put Sources
{% endblock %}
{% block content %}
<div class="row-fluid">
    <form action="/thank-you" method="POST">
        <div class="control-group">
            <label for="first-name">MyExperiment pack URI:</label>
            <input type="text" class="input-block-level">
        </div>
        <div class="control-group">
            <label for="exampleInputFile">Submission File:</label>
            <input type="file" id="id_input_file" class="filestyle input-block-level" data-classButton="btn btn-primary" >
        </div>
        <div class="control-group">
            <button class="btn btn-primary" name="commit" type="submit">
                Next
            </button>
        </div>
    </form>
</div>
{% endblock %}