{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div id="breadcrumb">
    <a href="index/index.html">Home</a> &gt;
            <a href="index.html" class="current">New Contribution</a></div>
<h2>New contribution</h2>
<div id="content">
<br />
    <h3>Put details of new contribution</h3>  
      <table>  
        <form method="post" action="title-and-abstract">
            <tr>
                <td style="width:100px;"><label for="sidebar-username">Title:</label></td>
                <td><input type="text" id="sidebar-username" name="username" value="" size="70" maxlength="100" class="textField" /></td>
            </tr>
            <tr>
                <td style="width:150px;"><label>Abstract:</label></td>
                <td><textarea rows="5" cols="70" class="textArea"></textarea></td>
            </tr>
            <tr>
                <td style="width:100px;"><label for="sidebar-username">Keywords:</label></td>
                <td><input type="text" id="sidebar-username" name="username" value="" size="70" maxlength="100" class="textField" /></td>
            </tr>
            <tr>
                <td style="width:100px;"><label for="sidebar-username">Supporting Agencies:</label></td>
                <td><input type="text" id="sidebar-username" name="username" value="" size="70" maxlength="100" class="textField" /></td>
            </tr>
            <td><br>
                <input type="submit" class="button" value="Next"></input></td>
        </form>
      </table>

{% endblock %}